# proxy=http://127.0.0.1:7890
# https-proxy=http://127.0.0.1:7890
# ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
# ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
